Web/node_modules
node_modules
Web/Tasks/Snake/.idea/misc.xml
Web/Tasks/Snake/.idea/modules.xml
Web/Tasks/Snake/.idea/Snake.iml
Web/Tasks/Snake/.idea/vcs.xml
Web/Tasks/Snake/gameboard.js
Web/Tasks/Snake/gameboard.js
venv
package-lock.json
someFile.txt
Web/.eslintrc
Web/.eslintrc-old.json
Web/.eslintrc.json
Web/.eslintrc.json
Web/package-lock.json
Web/package.json
Web/Tasks/CRUD/jsconfig.json
Web/Tasks/Snake/jsconfig.json
